<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./../partials/head.ejs") %>
    </head>
    <body>
        <header><%- include("./../partials/header") %></header>

        <div class="container d-flex flex-column align-items-center justify-content-center">
            <% if (messages.error) { %>
            <div class="alert alert-danger my-3" role="alert"><%= messages.error %></div>
            %> <% } %>

            <h1 class="my-4">Login</h1>
            <form action="/login" method="POST" class="w-75">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Login</button>
                </div>
                <div class="mb-3">
                    <span>Don't have an account yet?</span>
                    <a href="/register" class="link-primary">Sign up here</a>
                </div>
            </form>
        </div>
        <script src=" /js/bootstrap.bundle.min.js"></script>
    </body>
</html>
