<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./../partials/head.ejs") %>
    </head>
    <body>
        <header><%- include("./../partials/header") %></header>

        <div class="container d-flex flex-column align-items-center justify-content-center">
            <h1 class="my-4">Register</h1>
            <form action="/register" method="POST" class="w-75">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
                <div class="mb-3">
                    <span>Already have an account?</span>
                    <a href="/login" class="link-primary">Log in.</a>
                </div>
            </form>
        </div>
        <script src=" /js/bootstrap.bundle.min.js"></script>
    </body>
</html>
